<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Title</title>
        <link rel="stylesheet" type="text/css" href="/css/mainSidebar.css">
        <script src="/js/mainSidebar.js" defer></script>
    </head>

    <body>
        <nav>
            <div class="menu-btn">
                <div class="line line--1"></div>
                <div class="line line--2"></div>
                <div class="line line--3"></div>
            </div>

            <div class="nav-links">
                <a href="" class="link">My page</a>
                <a href="" class="link">Story</a>
                <a href="" class="link">Calendar / D-day</a>
                <a href="" class="link">Message</a>
                <a href="http://localhost:8080/post" class="link">Post Test</a>
            </div>
        </nav>
    </body>
</html>



