/* 아코디언 */
.area {
    display: flex;
    height: 400px;
    width: 400px;
    border: #FFFFFF;
    margin-top: 20px;
    background-color:rgba(0, 0, 0, 0);
    /*transform: translateX(400px);*/
    z-index: 10;
    opacity: 80%;
}

/* 아코디언 컴포넌트 동작 정의 */
.accordion {
    flex: 3 1 1px;
    display: flex;
    flex-direction: column;
}

/* 아코디언 아이템 닫혔을때 */
.accordion .accordion_item  {
    display: flex;
    min-height: fit-content;
    flex-direction: column;
    transition: all 0.5s;
}
.accordion .accordion_item > button {
    display: flex;
    padding: 1rem 1.25rem;
    border: 0;
    align-items: center;
    border-bottom: #FFFFFF;
    overflow-anchor : none;
    background-color: #FF9F9F;
}
.accordion .accordion_item > button::after {
    flex-shrink: 0;
    width: 1.25rem;
    height: 1.25rem;
    margin-left: auto;
    content: '';
    background-repeat: no-repeat;
    background-size: 1.25rem;
    transition: transform 0.2s ease-in-out;
}
.accordion .accordion_item > .accordion_content {
    display: none;
}

/* 아코디언 아이템 열렸을때 */
.accordion .accordion_item.open{
    flex: 1 1 1px;
}
.accordion .accordion_item.open > button {
    border: 0;
    color: #f27a62;
    background-color: #FCDDB0;
}
.accordion .accordion_item.open > button::after {
    transform: rotate(-180deg);
}
.accordion .accordion_item.open  > .accordion_content {
    display: flex;
    flex: 1 1 1px;
    overflow-y: auto;
}
.accordion .accordion_item  > .accordion_content::-webkit-scrollbar {
    width: 5px;
    background-color: transparent;
}
.accordion .accordion_item  > .accordion_content::-webkit-scrollbar-track {
    background-color: transparent;
}
.accordion .accordion_item > .accordion_content::-webkit-scrollbar-thumb {
    height: 17%;
    background-color: #999999;
    border-radius: 10px;
}
ul {
    display: flex;
    flex-direction: column;
    height: fit-content;
    width: 100%;
    padding: 0;
    margin: 0;
}
li {
    display: flex;
    align-items: center;
    height: 50px;
    padding-left: 10px;
    list-style: none;
    border-bottom: #ffffff;
    background-color: #ffffff;
}

/* 검색창 */
.search {
    position: relative;
    width: 300px;
}
input {
    width: 100%;
    border: 1px solid #bbb;
    border-radius: 8px;
    padding: 10px 12px;
    font-size: 14px;
}
img {
    position : absolute;
    width: 17px;
    top: 10px;
    right: 12px;
    margin: 0;
}