#sub {
    background-color: #FF9F9F;
    height: 100%;
    width: 460px;
    border-radius: 0% 0% 0% 0%;
    float: right;
    position: relative;
    transform: translateX(0px);
}
.sub-ul {
    background-color: #FFFFFF;
    margin-top: 20px;
    margin-bottom: 20px;
}