#select {
    background-color: #FFFFFF;
    border: 1px solid #222222;
    height: 100%;
    width: 400px;
    border-radius: 0% 0% 0% 0%;
    float: right;
    position: relative;
    transform: translateX(0px);
}