#map {
    z-index: 1;
    width: 2560px;
    height: 100%;
    position: relative;
}
#grid{
    /*border:5px solid pink;*/
    display: grid;
    grid-template-columns: 100px 400px 1600px 1fr; /*오름차순으로 설정, 이순서는 html에 선언된 순서대로 적용됨*/
    margin: 0px;
    width: 100%;
    height: 100%;
}
.section{
    width: 100%;
}
