.sub {
    background-color: #FF9F9F;
    height: 100%;
    width: 460px;
    border-radius: 0% 0% 0% 0%;
    float: right;
    position: relative;
    transform: translateX(0px);
}
.story {
    overflow: hidden;
    background-color: #FF9F9F;
    height: 100%;
    width: 460px;
    border-radius: 0% 0% 0% 0%;
    float: right;
    position: relative;
    transform: translateX(460px);
}
.story.story-open {
    overflow: hidden;
    background-color: #FF9F9F;
    height: 100%;
    width: 460px;
    border-radius: 0% 0% 0% 0%;
    float: right;
    position: relative;
    transform: translateX(0px);
}
.test-story {
    overflow: hidden;
    background-color: #FF9F9F;
    height: 100%;
    width: 460px;
    border-radius: 0% 0% 0% 0%;
    float: right;
    position: relative;
    transform: translateX(0px);
}
.story-ul {
    margin-top: 30px;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-right: 10px;
    height: 300px;
    width: 355px;

    border-radius: 10px;
}