<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.withus.mapper_.FreeMapper">


    <!-- 게시물 작성 -->
    <insert id="insertFree" parameterType="com.example.withus.vo_.FreeVo">
        INSERT INTO tb_ntc
        (
            ntc_ttl,
            ntc_cn,
            mbr_sn,
            rgtr_id,
            rgtr_dt
        )
        VALUES
            (
                #{ntc_ttl},
                #{ntc_cn},
                #{mbr_sn},
                #{rgtr_id},
                #{rgtr_dt}
            )
    </insert>

    <!-- 게시글 가져오기 -->
    <select id="getFree" resultType="com.example.withus.vo_.FreeVo">
        SELECT A.*, B.mbr_nm
        FROM tb_ntc AS A LEFT JOIN tb_user AS B
        ON A.mbr_sn = B.mbr_sn
        WHERE A.use_yn = 'Y'
        ORDER BY rgtr_dt desc
    </select>

    <!-- 게시글 클릭 -->
    <select id="clickFree" resultType="com.example.withus.vo_.FreeVo">
        SELECT *
        FROM tb_ntc
        WHERE ntc_sn = #{ntc_sn}
    </select>

    <!-- 게시글 검색 -->
    <select id="choiceFree" resultType="com.example.withus.vo_.FreeVo">
        SELECT A.*, B.mbr_nm
        FROM tb_ntc AS A LEFT JOIN tb_user AS B
        ON A.mbr_sn = B.mbr_sn
        WHERE A.use_yn = 'Y'
        <if test="searchCnd==1">
            AND  ntc_ttl LIKE CONCAT ('%', #{searchWrd},'%')
        </if>

        <if test="searchCnd == 2">
            AND  ntc_cn LIKE CONCAT ('%', #{searchWrd},'%')

        </if>

        <if test="searchCnd == 0">
            AND (
            ntc_ttl LIKE CONCAT ('%', #{searchWrd},'%')
            OR
            ntc_cn LIKE CONCAT ('%', #{searchWrd},'%')
            )
        </if>
    </select>

    <!-- 글 수정 -->
    <select id="getTxtBySn" resultType="com.example.withus.vo_.FreeVo">
        SELECT *
        FROM tb_ntc
        WHERE ntc_sn = #{ntc_sn}
    </select>

    <update id="updateTxt" parameterType="com.example.withus.vo_.FreeVo">
        UPDATE tb_ntc
        SET ntc_ttl = #{ntc_ttl},
            ntc_cn = #{ntc_cn}
        WHERE ntc_sn = #{ntc_sn}
    </update>

    <!-- 글 삭제 -->
    <update id="deleteTxt" parameterType="com.example.withus.vo_.FreeVo">
        UPDATE tb_ntc
        SET use_yn = #{use_yn}
        WHERE ntc_sn = #{ntc_sn}
    </update>
</mapper>