<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.withus.mapper.PostMapper">
    <!-- 테이블 가져오기 -->
    <select id="getPostList" resultType="com.example.withus.vo.PostVo">
        SELECT *
        FROM tb_txt
        WHERE gr_sn = #{group}
    </select>
    <!-- 유저 sn 통틀어서 테이블 가져오기 -->
    <select id="getmbrPostList" resultType="com.example.withus.vo.PostVo">
        SELECT *
        FROM tb_txt
        WHERE mbr_sn = #{mbr_sn}
    </select>

    <!-- 게시물 작성 -->
    <insert id="insertPost" parameterType="com.example.withus.vo.PostVo">
        INSERT INTO tb_txt
        (
            mbr_sn,
            txt_nm,
            txt_cn,
            txt_date,
            rgtr_id,
            rgtr_dt,
            txt_loc_lat,
            txt_loc_lng

        )
        VALUES
            (
                #{mbr_sn},
                #{txt_nm},
                #{txt_cn},
                #{txt_date},
                #{rgtr_id},
                #{rgtr_dt},
                #{txt_loc_lat},
                #{txt_loc_lng}

            )
    </insert>
</mapper>